<mat-toolbar class="mat-elevation-z6">
<div class="second-toolbar">
    <ul>
      <li><a  [routerLink]="'/home'"><span class="nav-bar">HOME</span></a></li>
      <li><a [routerLink]="'/courses'"><span class="nav-bar">COURSES</span></a></li>
      <li><a  [routerLink]="'/aboutus'"><span class="nav-bar">ABOUT US</span></a></li>
      <li><a [routerLink]="'/contactus'"><span class="nav-bar">CONTACT US</span></a></li>
  
      <li>
        <button mat-button>
          <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
        </button>
      </li>
    </ul>
</div>
</mat-toolbar>