.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #273044;
    color: white;
    padding: 4rem 8rem;
    margin-top: 5rem;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer .title{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 1rem;
}
.footer .title-info{
    font-size: small;
}
.about-popular{
    display: flex;
    gap: 2rem;
}
.about .btn{
    text-align: center;    
}
.popular .course-1,.course-2,.course-3{
  background-image: url('../../assets/home/landing-background.jpg');
  background-size: 65.06px 100%;
  background-repeat: no-repeat;
  padding-left: 4.5rem;
}
.pages-contact{
    display: flex;
    gap: 2rem;
}
hr{
    border-color: gray;
}
.contact{
line-height: 2.5rem;
}
.contact div{
    display: flex;
    gap: 1rem;
}