<div class="footer">
  <div class="about-popular">
    <div class="about">
      <p class="title">ABOUT</p>
      <p class="title-info" style="line-height: 22px;">
        CREAVERS Service P.L.C has been founded in <br> June 2015 as an investment
        company in <br> Ethiopia. It is born of the desire of its <br> founders to bring,
        within the Ethiopian <br> market, the very best in latest technologies <br> in the
        area of design and development of <br> computer software, but not readily
        available <br> in Ethiopia.
      </p>
      <div class="btn">
        <button mat-button style="background-color: transparent; border: 2px solid white; color: white;">LEARNING NOW</button>
      </div>
    </div>
    <div class="popular">
      <p class="title">POPULAR COURSES</p>
      <div class="course-1">
        <a href="#">HTML</a>
        <p class="title-info" style="font-size: 12px; color: gray;">BY BEAKAL ZELEALEM</p>
      </div>
      <div class="course-2">
        <a href="#">C++</a>
        <p class="title-info" style="font-size: 12px; color: gray;">BY YARED EKUBAY</p>
      </div>
      <div class="course-3">
        <a href="#">JavaScript</a>
        <p class="title-info" style="font-size: 12px; color: gray;">BY KIRUBEL TESFAW</p>
      </div>
    </div>
  </div>
  <div class="pages-contact">
    <div class="pages">
      <p class="title">Pages</p>
      <a class="title-info" href="#"><span style="color: #eab830; padding-right: 2px">></span> BLOG</a
      ><hr>
      <a class="title-info" href="#"
        ><span style="color: #eab830; padding-right: 2px">></span> MEMBERSHIP
        ACCOUNT</a
      ><hr>
      <a class="title-info" href="#"
        ><span style="color: #eab830; padding-right: 2px">></span> SAMPLE
        PAGE</a
      ><hr>
      <a class="title-info" href="#"
        ><span style="color: #eab830; padding-right: 2px">></span> SHOP</a
      ><hr>
      <a class="title-info" href="#"
        ><span style="color: #eab830; padding-right: 2px">></span> SHORT
        CODES</a
      ><hr>
      <a class="title-info" href="#"
        ><span style="color: #eab830; padding-right: 2px">></span> TYPOGRAPHY</a
      >
    </div>
    <div class="contact">
      <p class="title">Contact</p>
      <div>
        <fa-icon [icon]="['fas', 'location-dot']" style="color: #aaa; padding-right: 10px"></fa-icon>
        <span class="title-info">Bole Medhanealem, Abyssinia Building 3rd floor</span>
      </div>
      <div>
        <fa-icon [icon]="['fas', 'phone']" style="color: #aaa; padding-right: 2px"></fa-icon>
        <span class="title-info">Tel.: +251-116-674192 | 62</span>
      </div>
      <div>
        <fa-icon [icon]="['fas', 'print']" style="color: #aaa; padding-right: 2px"></fa-icon>
        <span class="title-info">Fax: +251-116-674192 | 62</span>
      </div>
      <div>
        <fa-icon [icon]="['fas', 'envelope']" style="color: #aaa; padding-right: 2px"></fa-icon>
        <span class="title-info">contact&#64;creavers.com</span>
      </div>
    </div>
  </div>
</div>
