<mat-toolbar class="navbar-spacer" color="primary">
  <div class="navbar-left">
    <span class="navbar-address">
      <span><fa-icon [icon]="['fas', 'phone']"></fa-icon>&nbsp; +251945712335</span>
      <span>
        <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>&nbsp; Bole Medhanealem,
        Abyssinia Building 3<sup>rd</sup>&nbsp;floor
      </span>
      <span><fa-icon [icon]="['fas', 'clock']"></fa-icon>&nbsp; Mon - Fri 8.30 - 5.30</span>
    </span>
  </div>
  <div class="navbar-right">
    <button mat-button [routerLink]="'/login'">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp; Login
    </button>
    <span class="horizontal-line"></span>
    <button mat-button  [routerLink]="'/login'">Register</button>
  </div>
</mat-toolbar>
<!-- second navbar -->

<mat-toolbar class="second-navbar" >
  <span class="spacer"></span>
    <button mat-button><fa-icon [icon]="['fas', 'bars']"></fa-icon></button>
</mat-toolbar>