<app-header></app-header>

<div class="landing-page">
  <ul>
    <li><a [routerLink]="'/home'"><span class="nav-bar">HOME</span></a></li>
    <li><a [routerLink]="'/courses'"><span class="nav-bar">COURSES</span></a></li>
    <li><a [routerLink]="'/aboutus'"><span class="nav-bar">ABOUT US</span></a></li>
    <li><a [routerLink]="'/contactus'"><span class="nav-bar">CONTACT US</span></a></li>
    <li>
      <button mat-button>
        <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
      </button>
    </li>
  </ul>
  <div class="heading">
    <h5>GOOD GRADE STUDENT MAKES SCHOOLING FUN!</h5>
    <h1>BE BETTER <br />LEARN BETTER</h1>
  </div>
</div>

<div class="course">
  <div class="top-courses">
    <h2>TOP COURSES</h2>
    <mat-form-field appearance="outline">
      <mat-label>Release date (Newest First)</mat-label>
      <mat-select [(value)]="selectedValue">
        <mat-option *ngFor="let sort of sort" [value]="sort.value">
          {{ sort.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="course-grids">
    <mat-grid-list cols="4" rowHeight="317.4px" gutterSize="1rem">
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="317.4px" gutterSize="1rem">
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
      <mat-grid-tile class="g11">
        <div class="course-info">
          <p style="color: gray">C++</p>
          <p style="font-weight: 500; color: rgba(0, 0, 0, 0.822)">
            Auto Draft
          </p>
          <hr style="width: 250px" />
          <div class="spacer">
            <div>
              <fa-icon
                [icon]="['far', 'clock']"
                style="padding-right: 2px"
              ></fa-icon>
              2 Months
            </div>
            <span>$3</span>
          </div>
        </div></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>

<!-- sign up -->
<div class="sign-up">
  <div>
    <h3 style="font-weight: 600; color: white; padding-top: 4rem">
      Get your Training <span style="color: #eab830">for Free</span>
    </h3>
  </div>
  <div class="sign-up-form">
    <h3 style="color: #273044; font-weight: 500">Sign up now</h3>
    <mat-form-field appearance="outline">
      <mat-label>What's your name...</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>What's your email...</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>What's your phone...</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
    <button mat-flat-button style="width: 50%; background-color: #002e5b">
      Get In!
    </button>
  </div>
</div>
<!-- Teacher of the month -->
<div class="teacher-of-month">
  <div class="teachers-info">
    <button mat-flat-button style="width: 15rem; margin-bottom: 4rem">
      TEACHER OF THE MONTH
    </button>
    <h2 style="font-weight: 700">Yared</h2>
    <p style="font-weight: 600">Professor of Business Administration</p>
    <p>
      Develops and designs curriculum plans to foster student learning,
      stimulate <br />
      class discussions, and ensures student engagement.
    </p>
    <p style="font-size: 18px; font-weight: 600; padding-top: 4rem">
      TEACHER COURSES:
    </p>
  </div>
</div>
<!-- Professional staffs -->

<div>
  <h3
    style="
      text-align: center;
      padding: 4rem 0;
      font-weight: 600;
      color: #273044;
    "
  >
    Professional staff
  </h3>
  <hr
    style="width: 80px; border: none; height: 2px; background-color: #eab830"
  />
  <p style="text-align: center; padding: 4rem 0; font-size: medium">
    A wonderful serenity has taken possession of my entire soul, like these
    sweet mornings <br />
    of spring which I enjoy with my whole heart.
  </p>
  <div class="staff-grid">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile class="s11">
        <div class="staff-info">
          <p style="font-weight: 600; font-size: large; color: #457992">
            Peter Parker
          </p>
          <p style="font-weight: 200">IT Expert</p>
          <p style="font-size: small">
            My PLC / HMI experience includes projects from $10k up to about
            $40m, primarily within the realm of chemical processing and
            filtration.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="s11">
        <div class="staff-info">
          <p style="font-weight: 600; font-size: large; color: #457992">
            Peter Parker
          </p>
          <p style="font-weight: 200">IT Expert</p>
          <p style="font-size: small">
            My PLC / HMI experience includes projects from $10k up to about
            $40m, primarily within the realm of chemical processing and
            filtration.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="s11">
        <div class="staff-info">
          <p style="font-weight: 600; font-size: large; color: #457992">
            Peter Parker
          </p>
          <p style="font-weight: 200">IT Expert</p>
          <p style="font-size: small">
            My PLC / HMI experience includes projects from $10k up to about
            $40m, primarily within the realm of chemical processing and
            filtration.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="s11">
        <div class="staff-info">
          <p style="font-weight: 600; font-size: large; color: #457992">
            Peter Parker
          </p>
          <p style="font-weight: 200">IT Expert</p>
          <p style="font-size: small">
            My PLC / HMI experience includes projects from $10k up to about
            $40m, primarily within the realm of chemical processing and
            filtration.
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div style="text-align: center">
    <button mat-flat-button style="width: 10rem; margin-top: 24rem">
      OUR TEACHERS
    </button>
  </div>
</div>
<app-footer></app-footer>
