.landing-page{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/landing-background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  .landing-page ul{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }
  .landing-page li a{
    text-decoration: none;
    color: white;
  }