.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

.content-left,
.content-right {
  flex: 1;
}

.content-left {
  margin-right: 20px;
}

header {
  text-align: left;
  margin: 20px 0;
}

.logo {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/home/creavers.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px;
}

header h2 {
  font-size: 2.5em;
  color: #333;
  margin-left: 20px;
  line-height: 38px;
  font-weight: 700;
  font-size: 36px;
}

header p {
  max-width: 600px;
  margin: 10px auto;
  font-size: 1em;
  line-height: 1.5em;
  margin-left: 20px;
}

.why-choose-us {
  text-align: left;
  margin: 20px 0;
  margin-left: 20px;
}

.why-choose-us h2 {
  font-size: 1.5em;
  color: #333;
}

.why-choose-us ul {
  list-style: none;
  padding: 0;
}

.why-choose-us li {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5em;
  display: flex;
  align-items: center;
}

.why-choose-us i {
  color: #333;
  margin-right: 10px;
}

#hi {
  margin-bottom: 70px;
}

.illustration {
  width: 100%;
  max-width: 500px;
  height: 300px;
  background-image: url("../../assets/home/environment.webp");
  background-size: cover;
  background-position: center;
  margin: 20px 0;
}

.contact-us {
  text-align: left;
  margin: 20px 0;
}

.contact-us hr {
  border: 0;
  height: 2px;
  background-color: #333;
  margin-bottom: 10px;
}

.contact-us h2 {
  font-size: 1.5em;
  color: #333;
}

.contact-us form {
  display: flex;
  flex-direction: column;
}

.contact-us .form-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}

#yourname1 {
  background: #f0f2f5;
  margin-right: 20px;
  border: none;
}

#youremail1 {
  background: #f0f2f5;
  border: none;
}

#yourname1::placeholder {
  padding-left: 20px;
}

#youremail1::placeholder {
  padding-left: 20px;
}

.contact-us input,
.contact-us textarea {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border: none;
  background: #f0f2f5;
}

.contact-us textarea {
  width: 87.5%;
}

textarea::placeholder {
  padding-left: 20px;
}

.contact-us button {
  padding: 15px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  align-self: self-start;
  margin-top: 24px;
}

.contact-us button:hover {
  background-color: #555;
}
fa-icon {
  color: #eab830;
}
