<app-header></app-header>
<app-second-header></app-second-header>
<br />
<div class="container">
  <div class="form-container">
    <div class="login">
      <h2>Login</h2>
      <form>
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Enter username" />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter password" />
        </div>
        <div class="remember-me">
          <input type="checkbox" id="remember" />
          <label for="remember" class="rem">Remember me</label>
          <a href="#" class="lost-password">Lost Password</a>
        </div>
        <button type="submit" class="btn" id="login-btn">Login</button>
      </form>
    </div>
    <div class="signup">
      <h2>Sign Up</h2>
      <form>
        <div class="input-group-double">
          <div class="input-group">
            <label for="new-username">Username</label>
            <input type="text" id="new-username" placeholder="Enter username" />
          </div>
          <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Enter your E-mail" />
          </div>
        </div>
        <div class="input-group-double">
          <div class="input-group">
            <label for="new-password">Password</label>
            <input
              type="password"
              id="new-password"
              placeholder="Enter password"
            />
          </div>
          <div class="input-group">
            <label for="confirm-password">Password Again</label>
            <input
              type="password"
              id="confirm-password"
              placeholder="Confirm password"
            />
          </div>
        </div>
        <button type="submit" class="btn">REGISTER</button>
      </form>
    </div>
  </div>
</div>
<!-- Social share -->
<div class="social-share">
  <button class="share-button facebook">
    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>Share
  </button>
  <button class="share-button twitter">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>Tweet
  </button>
  <button class="share-button pinterest">
    <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>Share
  </button>
  <button class="share-button linkedin">
    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>Share
  </button>
  <button class="share-button telegram">
    <fa-icon [icon]="['fab', 'telegram']"></fa-icon>Share
  </button>
</div>
<app-footer></app-footer>
