* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 90%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 6%;
}

.login,
.signup {
  width: 45%;
  padding: 20px;
  background: #fff;
}

.login {
  background: #0e58e1;
  color: #fff;
}

.signup {
  background: #f1f3f7;
  color: #333;
}

h3 {
  text-align: left;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input-group .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-group-double {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group-double .input-group {
  width: 44%;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
}

#remember {
  width: 35px;
  height: 25px;
}

.lost-password {
  margin-left: 6%;
}

.rem {
  margin-top: 1px;
}

.remember-me input {
  margin-right: 5px;
}

.remember-me label {
  color: #fff;
}

.remember-me .lost-password {
  color: #fff;
  text-decoration: none;
}

.signup .remember-me label,
.signup .lost-password {
  color: #333;
}

.form-group {
  padding: 30px 0 0;
}

.login-email1 {
  margin-top: 90px;
}

.input-with-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#enter-email {
  padding: 12px;
  height: 45px;
  border: 2px solid #f0f2f5;
  background: #f0f2f5;
  color: #555;
  width: 60%;
  margin-top: -20px;
  margin-right: -10px;
}

#btn-send {
  padding: 12px 20px;
  height: 45px;
}

.btn {
  background: #5ec48d;
  color: #fff;
  padding: 15px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 25%;
  text-align: center;
  margin-left: 70%;
  text-transform: uppercase;
}

.btn:hover {
  background: #15b058;
}

#login-btn {
  margin-top: -13%;
  margin-left: 70%;
}

.login .btn {
  background: #18d26e;
}

.login .btn:hover {
  background: #15b058;
}

.social-share {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.social-share fa-icon {
  padding-right: 1rem;
  font-size: 20px;
}

.share-button {
  margin: 0 5px;
  padding: 5px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
}

.twitter {
  background-color: #1da1f2;
  color: #fff;
}

.pinterest {
  background-color: #bd081c;
  color: #fff;
}

.linkedin {
  background-color: #0077b5;
  color: #fff;
}

.telegram {
  background-color: #0088cc;
  color: #fff;
}
